@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.intro {
	height: 100%;
	width: 100%;
	margin: auto;
	background: url(https://cdn.gratisography.com/photos/443H.jpg);
	display: table;
	top: 0;
	background-size: cover;
}

.intro .inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;

}

.content {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 28%;

}

.content h1 {
	font-family: 'Yantramanav', sans-serif;
	font-size: 600%;
	font-weight: 100;
	color: #E1EFE9;

}




/*--- Media Queries --*/
@media screen and (max-width: 900px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {
	
}